.passagerInfo {
  display: flex;
  justify-content: space-between;
}

.passagerInfo:before,
.passagerInfo:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100vh - 442px);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 2;
}

.passagerInfo:before {
  background: #8257e5;
  transform: translateX(-3rem);
}

.passagerInfo:after {
  background: var(--violet-100);
  transform: translateX(17.9rem);
}

.passagerInfo span {
  display: block;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.64);
  line-height: 1;
  letter-spacing: -0.02em;
}

.passagerInfo strong {
  color: rgba(0, 0, 0, 0.88);
  font-size: 1rem;
  line-height: 1.18;
}

.passagerInfo .positions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  font-weight: 400;
}
