.passagerInfo {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed rgba(0, 0, 0, 0.32);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.32);

  padding: 1rem;

  width: 91%;
  margin: 0 auto;
}

.passagerInfo span {
  display: block;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.64);
  line-height: 1;
  letter-spacing: -0.02em;
}

.passagerInfo strong {
  color: rgba(0, 0, 0, 0.88);
  font-size: 1rem;
  line-height: 1.18;
}

.passagerInfo .positions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;

  font-weight: 400;
}
