.wrapper {
  background: linear-gradient(182.96deg, #8257e5 60%, #271a45 100%);
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.boardingPass {
  width: 20.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boardingPass .ticket {
  color: #000;
}

.boardingPass .ticket header {
  background: var(--white);
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}

.boardingPass .ticket .passager {
  background: var(--white);
  border-top: 1px dashed rgba(0, 0, 0, 0.32);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.32);
  padding: 1.5rem 2rem;
}

.boardingPass .ticket .booardingInfo {
  background: var(--white);
  padding: 1.5rem 2rem;

  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

/* HEADER AND FOOTER CARD */
.boardingPass > header {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--white);

  font-weight: bold;
  line-height: 1.5;
  font-size: 1.25rem;
}

.boardingPass > footer {
  opacity: 0.64;
  color: var(--white);
  text-align: center;
}
